<h1>Cocktail details</h1>

<h2><%= @cocktail.name %></h2>

<%= cl_image_tag(@cocktail.photo.key, width: 400, height: 300, crop: :fill) %>

<p>Ingredients</p>
<p><% @cocktail.doses.each do |dose| %></p>
  <%= dose.description %>
  <%= dose.ingredient.name %>
  <%= link_to "X", dose_path(dose), method: :delete , data: { confirm: "Are you sure?" } %>
<% end %>
<%= link_to "add a dose", new_cocktail_dose_path(@cocktail) %>

<%= link_to "Back to list", cocktails_path %>

